*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
  outline: none;
  list-style: none;
}

body {
  font-family: 'Public Sans', sans-serif;
  background-color: #4d4949;
  color: rgb(255, 255, 255);
}

/* ! NAVBAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;
  border-bottom: 1px solid rgb(255, 255, 255,0.2);
}
nav .logo h1 {
  font-size: 30px;
  color: #7b7bdf;
}
nav .link-list li {
  display: inline;
  margin: 0 3px;
  padding: 7px;
  border-radius: 5px;
  transition: all 0.5s;
  box-shadow: #6b6a6a;
}
nav .link-list li:hover,
nav .link-list li:active {
  background-color: #7b7bdf;

}
nav ul li a {
  font-size: 1.1rem;
  color: white;
}
#check, .hmb-menu {
  display: none;
}



/* ! Hero Section */
.hero {
  display: flex;
  align-items: center;
}
.hero .content {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 0 6rem;
  justify-content: center;
  align-items: center;
  background-image: url(../img/wave.svg);
  background-position: center;
  background-size: cover;
}
.hero .content h1 {
  font-size: 2.4rem;
}

.hero .content h1 span {
  color: #7b7bdf;
}

.hero .content h2 {
  font-size: 1.4rem;
}

.hero .content p {
  max-width: 80%;
  font-size: 1.1rem;
  color: #ececec;
  margin: 3px 0 10px;
  font-weight: 300;
}

.hero .content button {
  cursor: pointer;
  padding: 1rem 1.5rem;
  border-radius: 5px;
}

.hero .content button a {
  font-weight: 700;
  font-size: 1rem;
  color: #000000;
}
.hero .content button:hover {
  background-color: #7b7bdf;
}

.hero img {
  width: 23rem;
  border-radius: 50%;
}

/* ! About Section */
.about .about-title,
.project .project-title,
.kontak .kontak-title {
  text-align: center;
  padding: 5rem 0 5rem;
  font-size: 2.5rem;
}

.about .about-title span,
.project .project-title span,
.kontak .kontak-title span {
  color: #7b7bdf;
}

.about .content {
  display: flex;
  justify-content: center;
  padding-bottom: 9rem;
}

.about .content .p {
  margin: 2rem;
  padding: 3rem 1rem;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #4d4949;
  -webkit-box-shadow: 13px 13px 34px #444040, -13px -13px 34px #565252;
  box-shadow: 13px 13px 34px #444040, -13px -13px 34px #565252;
  font-weight: 300;
}

.about .content p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  max-width: 45rem;
  margin: 0 2rem;
}

/* ! Project Section */
.project {
  background-image: url(../img/polygon-scatter.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project .project-content {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}

.project .project-content .row {
  margin: 1rem;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #4d4949;
  -webkit-box-shadow: 13px 13px 34px #444040, -13px -13px 34px #565252;
  box-shadow: 13px 13px 34px #444040, -13px -13px 34px #565252;
}

.project .project-content .row a {
  text-decoration: none;
  color: #ffff;
}

.project .project-content .row img {
  width: 27rem;
  border-radius: 10px;
}
.project .project-content .row:hover img {
  filter: blur(2px);
}

.project .project-content .row .external-link {
  display: none;
}

.project .project-content .row:hover .external-link {
  display: block;
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 50%;
  left: 50%;
  color: #7b7bdf;
  transform: translate(-50%, -50%);
}

.project .project-content .row:hover  {
  transform: scale(1.1);
  transition: 0.3s;
  height: 100%;
  border: 1px solid #7b7bdf;
}

/* ! Kontak Section */

.kontak .kontak-text {
  display: flex;
  justify-content: center;
  width: 100%;
}

.kontak .kontak-text .text {
  flex: 1 1 45rem;
  margin: 3rem;
  padding: 3rem;
  background: #4d4949;
  box-shadow: 8px 8px 16px #484545,
    -8px -8px 16px #524d4d;
  padding: 3rem;
}

.kontak .kontak-text p {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 10rem;
}

.kontak .kontak-text .sosial {
  height: 1.5rem;
}

.kontak .text a {
  margin-right: 1rem;
  color: #ffff;
}

.kontak .text a:hover {
  color: #7b7bdf;
}

.kontak .kontak-text form {
  flex: 1 1 45rem;
  padding: 3rem;
  margin: 3rem;
  border-radius: 1px;
  background: #4d4949;
  box-shadow: 8px 8px 16px #484545,
    -8px -8px 16px #524d4d;
}

.kontak .kontak-text form .row {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 2rem 0;
  border: 1px solid rgb(104, 103, 103);
}

.kontak .kontak-text form .row:hover,
.kontak .kontak-text form .row:active {
  border: 1px solid #7b7bdf;
  background-color: #484545;
}

.kontak .kontak-text form input {
  width: 100%;
  font-size: 1rem;
  margin-left: 1rem;
  background: none;
  color: white;
  outline: none;
}

.kontak .kontak-text form .icon {
  height: 1.5rem;
}

.kontak .kontak-text form .row-pesan {
  display: flex;
  width: 100%;
}

.alert {
  display: none;
  padding: 20px;
  background-color: #535353; /* Red */
  color: white;
  margin-bottom: 15px;
}


textarea {
  width: 100%;
  font-size: 1rem;
  margin-left: 1rem;
  background: none;
  color: white;
  outline: none;
  resize: none;
  font-family: 'Public Sans', sans-serif;
}

.kontak .kontak-text button, .buttonload {
  padding: 1rem;
  font-size: 1rem;
  background-color: #6b6a6a;
  color: #ffffff;
  cursor: pointer;
}

.buttonload {
  display: none;
}
.buttonload i {
  margin-right: 10px;
}

.kontak .kontak-text button:hover {
  background-color: #7b7bdf;
}


/* ! Section Footer */
footer {
  background-color: #7b7bdf;
  text-align: center;
  padding: 3rem 0;
  margin-top: 4rem;
}

footer .credit {
  color: #ffffff;
}

footer .credit p {
  font-size: 1rem;
}

footer .credit a {
  color: #000000;
  font-weight: 700;
}

/* ! RESPONSIVE MEDIA QUERY */
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }

  nav ul {
    text-align: center;
    position: absolute;
    width: 100%;
    padding: 2rem 0;
    right: 0;
    top: -100rem;
    background-color: hsla(0, 1%, 20%, 0.4);
  }
  nav .link-list li {
    display: block;
    margin: 2rem;
  }
  nav .link-list li:hover,
  nav .link-list li a:hover {
    border-bottom: none;
    color: #7b7bdf;;
    background-color: transparent;
  }
  .hmb-menu {
    display: block;
  }

  #check:checked ~ ul {
    top: 4.9rem;
    transition: all 0.5s;
  }

  .hero .content {
    flex-wrap: wrap-reverse;
  }
  .hero .content {
    padding: 16rem 6rem ;
  }

  .kontak .kontak-text {
    flex-wrap: wrap;
  }

  .kontak .kontak-text .text {
    text-align: center;
  }

  .about .about-content p {
    max-width: 70rem;
  }
}

/* Mobile */
@media (max-width: 550px) {
  .hero {
    text-align: center;
  }
  .hero .content {
    padding: 25rem 6rem ;
  }
  .hero .content .picture {
    margin-bottom: 2rem;
  }
  .hero .content .me p {
    max-width: 100%;
  } 


  .hero .content button .p2 a {
    font-size: 8px;
  }

  .about .content {
    flex-wrap: wrap;
  }

  .project .project-content .row img {
    width: 37rem;
  }

  .kontak .kontak-text .kontak-icon .sosial {
    width: 1.5rem;
    height: 1.5rem;
  }
}