* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Public Sans";

}

section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background-image: url(../img/bg.png);
}

section .card {
  width: 50%;
  padding: 7rem 3rem;
  margin: auto 0;
  text-align: center;
  background-color: #17174b;
  border-radius: 10px;
}

section h1 {
  margin-top: -5rem;
  font-weight: 700;
  font-size: 2rem;
  color: aliceblue;
  margin-bottom: 2rem;
}

section p {
  margin: 1rem 0;
  color: #636363;
}

section .row .row-card {
  padding: 0.6rem;
}

.row .row-card input {
  width: 100%;
  padding: 1rem;
  margin: 0.3rem 0;
  font-size: 1rem;
  border-radius: 5px;
}

section .card .row form .row-bottom {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  text-align: center;
  color: #dbd9d9;
  font-weight: 200;
}
section .card .row form .row-bottom .row-right label a {
  color: #ec3838;
}

.row form button {
  width: 100%;
  padding: 1rem;
  background-color: transparent;
  font-size: 1.3rem;
  color: aliceblue;
  cursor: pointer;
  background-color: #4a4aad;
  border-radius: 5px;
}


section .card .row-signup p {
  color: white;
  font-weight: 100;
}
section .card .row-signup a {
  color: #4d4dff;
}


section .card .copy {
  margin-top: 3rem;
  margin-bottom: -6rem;
}
section .card .copy p {
  color: #afafaf;
  font-weight: 300;
}
section .card .copy p a {
  color: #505099;
}

/* ! RESPONSIVE MEDIA QUERY */
/* Tablet */
@media (max-width: 1000px) {
  section {
    height: 100vh;
  }
  section .card {
    width: 70%;
  }
}

/* Mobile */
@media (max-width: 550px) {
  html {
    font-size: 75%;
  }
  section {
    height: 100vh;
  }
  section .card {
    width: 80%;
    padding: 7rem 1.3rem;
  }
}