* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

body {
  font-family: "inter", sans-serif;
  background-color: #181616;
}

/* ! Navbar */
nav {
  display: flex;
  color: white;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  justify-content: space-between;
  background-color: rgba(65, 65, 65, 0.5);
  padding: 13px;
  align-items: center;
  z-index: 2;
}

nav .logo {
  display: flex;
  font-weight: 700;
  color: #ffffff;
  align-items: center;
}

nav .logo img {
  width: 2.5rem;
  height: 2.7rem;
}

nav .logo h1 span {
  color: red;
}

nav .menu .list {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav .menu .list li a,
nav i {
  font-size: 15px;
  color: #ffffff;
}
nav .menu .list li a:hover {
  color: #9b9b9b;
}

#toggler,
nav label {
  display: none;
}


/* ! Header Section */
.hero {
  display: flex;
  justify-content: center;
}


.hero .search-btn {
  width: 96%;
  margin: 2rem 0;
}

.hero .search-btn input {
  width: 100%;
  padding: 1.4rem;
  font-size: 1.2rem;
  background-color: #201f1f;
  color: #ffffff;
}

/* ! Content Section */
.content .title {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.content .title h1::before {
  content: "| ";
  color: red;
}

.content main {
  padding: 0 2rem;
}

.content .movie {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 2rem;
}

.content .movie .card {
  color: #ffffff;
  overflow: hidden;
  width: 15.1rem;
}

.content .movie .card img {
  width: 15rem;
  height: 20rem;
  transition: all .5s ease-in-out;
  object-fit: cover;
}

.content .movie .card p {
  padding: 10px 0 0;
  font-weight: 300;
  white-space: nowrap;
}

.img {
  position: relative;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.192);
  cursor: pointer;
  overflow: hidden;
}


.hover {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: 0.3s ease-in-out;
  background-color: rgba(37, 32, 32, 0.466);
  width: 100%;
  opacity: 0;
}

.hover i {
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.644);
}

.content .movie .img:hover .hover {
  top: 0;
  opacity: 1;
}

.content .movie .img:hover img {
  transform: scale(1.1);
  transform-origin: center;
  filter: blur(2px);
}






/* ! Responsive Web */
/* Mobile */
@media (max-width: 672px) {
  nav {
    padding: 9px;
  }

  nav .menu .list {
    display: none;
  }

  nav label {
    display: inline-flex;
    cursor: pointer;

  }

  nav label i {
    font-size: 2rem;
  }

  .content .title h1 {
    font-size: 1rem;
  }


  .hover i {
    font-size: 2rem;
  }

  .content .movie .card {
    width: 8rem;
  }

  .content .movie .card img {
    width: 8rem;
    height: 10rem;
  }
}

@media (max-width : 357px) {
  html {
    font-size: 88%;
  }
  .content .movie .card {
    width: 6rem;
  }

  .content .movie .card img {
    width: 6rem;
    height: 7.7rem;
  }
}