* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
outline: none;
  text-decoration: none;
}
body {
  font-family: "inter", sans-serif;
  background-color: #181616;
}

/* ! Navbar */
nav {
  display: flex;
  color: white;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  justify-content: space-between;
  background-color: rgba(65, 65, 65, 0.5);
  padding: 13px;
  align-items: center;
  z-index: 2;
}
nav .logo {
  display: flex;
  font-weight: 700;
  color: #ffffff;
  align-items: center;
}
nav .logo img {
  width: 2.5rem;
  height: 2.7rem;
}
nav .logo h1 span {
  color: red;
}

nav .menu .list {
  list-style: none;
  display: flex;
  gap: 30px;
}
nav .menu .list li a,
nav i {
  font-size: 15px;
  color: #ffffff;
}

#toggler,
nav label {
  display: none;
}


/* ! Header Section */
.hero {
  display: flex;
  justify-content: center;
}


.hero .search-btn {
  width: 96%;
  margin: 2rem 0;
}
.hero .search-btn input {
  width: 100%;
  padding: 1.4rem;
  font-size: 1.2rem;
  background-color: #201f1f;
  color: #ffffff;
}

/* ! Content Section */
.content .title {
  display: flex;
  align-items: center;
  padding: 0 2%;
  color: #ffffff;
}
.content .title .text {
  color: red;
  margin-right: 0.5rem;
}

.content .movie {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.content .movie .card {
  margin: 10px;
  width: 14rem;
  height: 22/3rem;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: #3b3b3b;
  position: relative;
  overflow: hidden;
}

.content .movie .card img {
  width: 100%;
  height: 87%;
  border-radius: 10px;
}

.content .movie .card h3 {
  padding: 0 5px;
  font-weight: 200;
}

.hover {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translateX(100%);
  top: 0;
  transition: 0.2s;
  border-radius: 10px;
  background-color: rgb(37, 32, 32, 0.8);
  width: 100%;
  height: 87%;
  cursor: pointer;
}
.hover i {
  font-size: 5rem;
}
.content .movie .card:hover .hover {
  transform: translateX(0);
}





/* ! Responsive Web */
/* Mobile */
@media (max-width: 672px) {
  nav {
    padding: 9px;
  }
  nav .menu .list {
    display: none;
  }
  nav label {
    display: inline-flex;
    cursor: pointer;
    
  }
  nav label i {
    font-size: 2rem;
  }
  .content .title h1 {
    font-size: 1rem;
  }
  .content .movie .card {
    margin: 5px;
    width: 9rem;
    height: 16rem;
  }
  .content .movie .card h3 {
    font-size: 10px;
  }
  .hover i {
    font-size: 2rem;
  }
}