*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #201f1f;
  color: rgb(255, 255, 255);
}

/* ! Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 7%;
  background-color: #ace7d2;
  border-bottom: 1px solid #cac8c8;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}

.navbar .navbar-logo span {
  color: #414141;
}

.navbar .navbar-nav a {
  color: #414141;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: #7e7c7c;
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  border-bottom: 0.1rem solid #ffffff;
  transform: scaleX(0);
  transition: 0.3s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #4e4e4e;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: black;
}

#hamburger-menu {
  display: none;
}

/* ! Style Hero Section Awal*/
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.9)),url('../img/bg-hero.jpg');
  background-size: cover;
  background-position: center;
  border-bottom: 0.1px solid #434746;
}

.hero .content {
  padding: 0 7%;
  max-width: 60%;
}

.hero .content h1 {
  font-size: 2.6rem;
  color: #ffffff;
  line-height: 3.7rem;
}

.hero .content h1 span {
  color: #ace7d2;
}

.hero .content p {
  font-weight: 200;
  font-size: 1.2rem;
  color: #ffffff;
  padding-bottom: 1rem;
}

.hero .content button {
  cursor: pointer;
  background-color: #ace7d2;
  padding: 1rem;
  border-radius: 3px;
}

.hero .content button a {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
  margin: 0.5rem 1rem;
}

.hero .content button:hover {
  background-color: #c6d8d2;
}

/* ! Style tentang kami */
.about {
  padding: 9rem 0;
  background-color: #414141;;
}

.about h2 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 9rem;
  color: white;
}

.about .about-content p {
  font-weight: 200;
  margin: 0 2rem;
  font-size: 1.3rem;
  text-align: justify;
}

.about .about-content .img {
  width: 30rem;
}
.about .about-content img {
  width: 28rem;
  object-fit: cover;
  border: 0.1px solid #2f3030;
}

.about .about-content {
  display: flex;
  word-spacing: 3px;
  align-items: center;
  justify-content: center;
  line-height: 1.6;
  margin: 0 7rem;
}


/* ! Produk */
.produk {
  padding: 6rem 0;
  width: 100%;
}

.produk h2,
.contact h2 {
  text-align: center;
  font-size: 2rem;

}

.produk p {
  text-align: center;
  margin: auto;
  max-width: 50rem;
  font-weight: 200;
  padding-bottom: 4rem;
}

.produk h3 {
  font-weight: 300;
}

.produk .produk-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.produk .produk-card {
  text-align: center;
  font-size: 1.2rem;
  margin: 0 1rem;
  overflow: hidden;
}

.produk .produk-list img {
  width: 19rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 2px;
  border: 0.1px solid #6268664b;
}

.produk .produk-list .produk-card .title {
  margin: 1rem auto 0.5rem;
}

.produk button {
  display: block;
  margin: auto;
  padding: 0.8rem;
  border-radius: 7px;
  background-color: #ace7d2;
  cursor: pointer;
}
.produk button h4 {
  font-size: 1.1rem;
  font-weight: 300;
}
.produk button:hover {
  background-color: #7e7c7c;
}

/* ! Contact */
.contact {
  padding: 3rem 0 6rem;
  background-color: #414141;
}

.contact p {
  text-align: center;
  margin: auto;
  font-weight: 200;
  max-width: 50rem;
}

.contact .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  padding: 0 1rem;
}

.contact .row .maps {
  flex: 1 1 45rem;
  object-fit: cover;
  width: 100%;

}

.contact .row form {
  flex: 1 1 45rem;
  padding: 0 1rem;
  background-color: #7e7c7c;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  border-radius: 7px;
  background-color: #000000;
  border: 1px solid rgba(255, 255, 255, 0.658);
  padding-left: 1rem;
}
.contact .row form .input-group:hover {
  border: 1px solid #ace7d2;
}
.contact .row form .input-group input {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.4rem;
  background: none;
  color: rgb(255, 255, 255);
}

.contact .row form .input-group .pesan {
  margin-bottom: 10rem;
}

.contact .row form .input-group .pesan-img {
  margin-bottom: 10rem;
}

.contact .row form button {
  margin-top: 1rem;
  padding: 1rem 1rem;
  background-color: #ffffff;
  font-size: 1.6rem;
  border-radius: 0.5%;
  border: 0.1px solid rgba(0, 0, 0, 0.658);
  cursor: pointer;
  border-radius: 7px;
}
.buttonload i {
  margin-right: 1rem;
  margin-left: 0;
}
.buttonload {
  display: none;
}

.contact .row form button:hover {
  background-color: #c0bebe;
}

.contact .row form .btn a {
  text-decoration: none;
  color: black;
}

/* ! Alert */
.alert {
  text-align: center;
  display: none;
  padding: 11px;
  background-color: #bff5e2;
  color: black;
  margin-bottom: 15px;
  font-size: 1.1rem;
}



/* ! Section Footer */
footer {
  background-color: #ace7d2;
  text-align: center;
  padding: 1rem 0;
}

footer .social {
  padding: 1rem 0;
}

footer .social a {
  color: #000000;
  margin: 1.5rem;
}

footer .credit {
  color: #000000;
}

footer .credit p {
  font-size: 1.2rem;
}

footer .credit a {
  color: #000000;
  font-weight: 700;
}

footer .social .sosial:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 5px #201f1f80;
}


/* ! Media Queris */

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background: rgb(224, 224, 216,0.4);
    width: 100%;
    padding: 3rem 0;
    transition: all 0.2s;
  }
  .navbar .navbar-nav a{
    font-size: 1.5rem;
    color: #ace7d2;
    display: block;
    margin: 1.5rem;
    padding: 1rem;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  #hamburger-menu {
    display: inline-block;
  }

  .hero .content p {
    max-width: 100%;
  }

  .about .about-content {
    flex-wrap: wrap;
  }
  .about .about-content p {
    padding-top: 2rem;
  }

  .produk .produk-list {
    flex-wrap: wrap;
  }


  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .maps {
    height: 35rem;
  }
}

/* Mobile */
@media (max-width: 550px) {
  html {
    font-size: 56%;
  }

  .about .about-content {
    margin: 0;
  }
  .contact .row form {
    padding-bottom: 2.4rem ;
  }
  
}