* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: 'Public Sans', sans-serif;
  background-color: #4d4949;
  color: rgb(255, 255, 255);
}
section h1 {
  padding: 3rem 0;
  text-align: center;
  font-size: 3rem;
}
section .container .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section .container .row .box {
  width: 25rem;
  height: 30rem;
  cursor: pointer;
  margin: 2rem;
  border-radius: 10px;
  border: 1px solid white;
  position: relative;
  overflow: hidden;
}

section .container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s;
}

section .container .box-title {
  position: absolute;
  font-size: 1.2rem;
  height: 100%;
  padding: 2rem;
  bottom: 100000rem;
  border-radius: 10px;
  transition: 0.5s;
  bottom: 0;
  transform: translateY(100%);
  font-size: 1.2rem;
  background-color: rgba(26, 26, 26, 0.082);
  color: #ffffff;
}

section .container .box-title p {
  font-weight: 200;
  margin-top: 0.3rem;
  line-height: 2rem;
}

section .container .row .box:hover .box-title {
  transform: translateY(0);
}
section .container .row .box:hover img {
  backdrop-filter: blur(100px);
  opacity: 0.5;
  width: 30rem;
}
