* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inconsolata';
  background-color: rgb(255, 255, 255);
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;
}

.logo {
  font-size: 1.4rem;
  font-weight: 700;
}

.logo span {
  color: #ffd700;
}

ul {
  font-size: 1.2rem;
  padding: 1rem;
}

ul li {
  display: inline;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

ul li a {
  color: black;
  font-weight: 400;
}

ul li:hover {
  background-color: rgb(255, 217, 0, 0.8);
  padding: 0.5rem;
  border-radius: 5px;
}

/* Hero Section */
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.hero main {
  display: flex;
  align-items: center;
}

.hero .hero-title {
  padding: 0 10%;
}

.hero .hero-title h1 {
  font-size: 3rem
}

.hero .hero-title h1 span {
  color: #ffd700;
}

.hero .hero-title p {
  font-weight: 400;
  font-size: 1.4rem;
}

.hero .hero-img {
  align-items: center;
  padding-right: 10%;
}

.hero .hero-img img {
  width: 23rem;
  border-radius: 50%;
  transform: translate(0);
  animation: float 5s ease-in-out infinite;
}
@keyframes float  {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Section Profile */
.profile {
  padding: 5rem 0;
  background-color: rgb(231, 231, 231);
}

.profile h1 {
  text-align: center;
  font-size: 2.3rem;
}

.profile main {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  margin: 6rem 0;
  gap: 2rem;
}

.profile main p {
  font-weight: 400;
  line-height: 1.7rem;
  word-spacing: .2rem;
}

.row-left,
.row-right {
  width: 46%;
  border-radius: 3px;
  padding: 2rem;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.247);
}


/* Media Query Responsive */
@media (max-width : 1000px) {
  html {
    font-size: 79%;
  }
}